In [1]:
# from matplotlib import dates
import numpy as np
import pandas as pd
# from regex import S
# g=pd.Series([1,3,5,7])
# print(g)
dates=pd.date_range("20220101",periods=20)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
              dtype='datetime64[ns]', freq='D')

In [2]:
dates=pd.date_range("20220101",periods=20)
dates
df=pd.DataFrame(np.random.randn(20,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  1.352658 -1.546836  0.430519 -0.192448
2022-01-02 -1.565975  1.030260 -0.186830  0.534821
2022-01-03  1.542547  0.342377  0.577107 -0.104359
2022-01-04  1.871625  0.466703 -0.801935  1.880072
2022-01-05 -0.283857 -0.035937  1.088024  1.575129
2022-01-06  0.083051 -0.379549  0.551163  0.748717
2022-01-07 -0.134362 -0.399787 -1.626248 -1.167036
2022-01-08  1.115125 -0.901403  0.154719  0.161472
2022-01-09  1.000211 -0.749957  0.271256 -1.167888
2022-01-10  0.315311  1.839188  1.186200  0.577515
2022-01-11  0.422777 -1.184203 -2.485946  1.420570
2022-01-12  1.022229 -0.820494 -0.438320  0.845171
2022-01-13 -0.603006  0.845644  0.993783  2.009483
2022-01-14  0.862986  1.221531  1.264341  0.508342
2022-01-15  0.036709 -0.115637 -0.563325  0.739079
2022-01-16  0.451824 -0.886542 -0.182325  0.600665
2022-01-17 -0.199509 -0.905714 -1.105091 -1.092763
2022-01-18 -0.842807  0.003946 -1.061341 -1.523916
2022-01-19 -1.200412 -2.290144 -0.006333 -0.785675
2022-01-20 -0.724978 -0.793756 -0.479749  0.612844

In [7]:
df2=pd.DataFrame(
 {
    "A": 1.0,
    "B": pd.Timestamp("20130102"),
    "C": pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4,dtype="int32"),
    "E":pd.Categorical(["Girl","train""test","test"]),
    "F":"Females", 
  }
)
df2

ValueError: All arrays must be of the same length

In [8]:
df.head(2)

                   A         B         C         D
2022-01-01  1.352658 -1.546836  0.430519 -0.192448
2022-01-02 -1.565975  1.030260 -0.186830  0.534821

In [9]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2022-01-01  1.352658 -1.546836  0.430519 -0.192448
2022-01-02 -1.565975  1.030260 -0.186830  0.534821
2022-01-03  1.542547  0.342377  0.577107 -0.104359
2022-01-04  1.871625  0.466703 -0.801935  1.880072
2022-01-05 -0.283857 -0.035937  1.088024  1.575129
2022-01-06  0.083051 -0.379549  0.551163  0.748717
2022-01-07 -0.134362 -0.399787 -1.626248 -1.167036
2022-01-08  1.115125 -0.901403  0.154719  0.161472
2022-01-09  1.000211 -0.749957  0.271256 -1.167888
2022-01-10  0.315311  1.839188  1.186200  0.577515
2022-01-11  0.422777 -1.184203 -2.485946  1.420570
2022-01-12  1.022229 -0.820494 -0.438320  0.845171
2022-01-13 -0.603006  0.845644  0.993783  2.009483
2022-01-14  0.862986  1.221531  1.264341  0.508342
2022-01-15  0.036709 -0.115637 -0.563325  0.739079
2022-01-16  0.451824 -0.886542 -0.182325  0.600665
2022-01-17 -0.199509 -0.905714 -1.105091 -1.092763
2022-01-18 -0.842807  0.003946 -1.061341 -1.523916
2022-01-19 -1.200412 -2.290144 -0.006333 -0.785675
2022-01-20 -0.724978 -0.793756 -0.479749  0.612844>

In [12]:
df.T
# to convrt rows into colums and vice versa

,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14,2022-01-15,2022-01-16,2022-01-17,2022-01-18,2022-01-19,2022-01-20
A,1.352658,-1.565975,1.542547,1.871625,-0.283857,0.083051,-0.134362,1.115125,1.000211,0.315311,0.422777,1.022229,-0.603006,0.862986,0.036709,0.451824,-0.199509,-0.842807,-1.200412,-0.724978
B,-1.546836,1.030260,0.342377,0.466703,-0.035937,-0.379549,-0.399787,-0.901403,-0.749957,1.839188,-1.184203,-0.820494,0.845644,1.221531,-0.115637,-0.886542,-0.905714,0.003946,-2.290144,-0.793756
C,0.430519,-0.186830,0.577107,-0.801935,1.088024,0.551163,-1.626248,0.154719,0.271256,1.186200,-2.485946,-0.438320,0.993783,1.264341,-0.563325,-0.182325,-1.105091,-1.061341,-0.006333,-0.479749
D,-0.192448,0.534821,-0.104359,1.880072,1.575129,0.748717,-1.167036,0.161472,-1.167888,0.577515,1.420570,0.845171,2.009483,0.508342,0.739079,0.600665,-1.092763,-1.523916,-0.785675,0.612844

In [14]:
df["D"]

2022-01-01   -0.192448
2022-01-02    0.534821
2022-01-03   -0.104359
2022-01-04    1.880072
2022-01-05    1.575129
2022-01-06    0.748717
2022-01-07   -1.167036
2022-01-08    0.161472
2022-01-09   -1.167888
2022-01-10    0.577515
2022-01-11    1.420570
2022-01-12    0.845171
2022-01-13    2.009483
2022-01-14    0.508342
2022-01-15    0.739079
2022-01-16    0.600665
2022-01-17   -1.092763
2022-01-18   -1.523916
2022-01-19   -0.785675
2022-01-20    0.612844
Freq: D, Name: D, dtype: float64

In [15]:
df[0:2]

                   A         B         C         D
2022-01-01  1.352658 -1.546836  0.430519 -0.192448
2022-01-02 -1.565975  1.030260 -0.186830  0.534821

In [16]:
df.loc[:,["A","B"]]

                   A         B
2022-01-01  1.352658 -1.546836
2022-01-02 -1.565975  1.030260
2022-01-03  1.542547  0.342377
2022-01-04  1.871625  0.466703
2022-01-05 -0.283857 -0.035937
2022-01-06  0.083051 -0.379549
2022-01-07 -0.134362 -0.399787
2022-01-08  1.115125 -0.901403
2022-01-09  1.000211 -0.749957
2022-01-10  0.315311  1.839188
2022-01-11  0.422777 -1.184203
2022-01-12  1.022229 -0.820494
2022-01-13 -0.603006  0.845644
2022-01-14  0.862986  1.221531
2022-01-15  0.036709 -0.115637
2022-01-16  0.451824 -0.886542
2022-01-17 -0.199509 -0.905714
2022-01-18 -0.842807  0.003946
2022-01-19 -1.200412 -2.290144
2022-01-20 -0.724978 -0.793756

In [17]:
df.at [dates[0],"A"]

1.3526582356273484

In [19]:
df.iloc[0:5,0:3]

                   A         B         C
2022-01-01  1.352658 -1.546836  0.430519
2022-01-02 -1.565975  1.030260 -0.186830
2022-01-03  1.542547  0.342377  0.577107
2022-01-04  1.871625  0.466703 -0.801935
2022-01-05 -0.283857 -0.035937  1.088024

In [20]:
# bullean used for filtration
df[df["A"]>1.5]

                   A         B         C         D
2022-01-03  1.542547  0.342377  0.577107 -0.104359
2022-01-04  1.871625  0.466703 -0.801935  1.880072

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
kashti = sns.load_dataset('titanic')

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>